.banner{
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: flex-start;
    height: 698px;
    background-image:  url('./BannerMain.png') ;
}
.skindom{
    font-family: Rubik;
    font-style: normal;
    font-weight: 500;
    font-size: 99px;
    line-height: 150%;
    color: #000000;
}
.text{
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 150%;
    color: #000000;
}
button{
    background-color: black;
    width: 270px;
    height: 60px;
    color: #FFFFFF;
    border: none;
    cursor: pointer;
}