
.city{
    cursor: pointer;
    margin-left: 120px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 150%;
    color: #FFFFFF;
}
.svg{
    margin-left: 20px;
}
.phonenumber{
    margin-right: 115px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 150%;
    color: #FFFFFF;
}
.ul{
    background-color: #323232;
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    margin: 0px;
    padding: 0px;
}


.menu__btn {
    position: absolute;
    display: flex;
    align-items: center;
    position: fixed;
    top: 30px;
    right: 50px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 10;
}


.menu{
    display: block;
    position: fixed;
    visibility: hidden;
    top: 0;
    width: 800px;
    height: 100%;
    margin: 0;
    padding: 80px 0px 0px 100px;
    list-style: none;
    box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
    background-color: #FFFFFF;
}

.list {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    cursor: pointer;
    padding-top: 20px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 200%;
    color: #000000;
}
.list a:hover{
    color: #CC4C6E;
}
.line{
    width: 200px;
    margin-left: 29px;
    border-bottom: 1px solid #FFFFFF;
}

.menu_checkbox:checked ~ .menu {
    visibility: visible;
    right: 0px;
}
.citymenu{
    position: relative;
}

.text{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;
    color: #828282;
}
.flagRF{
    margin-right: 10px;
}
.menu_text{
    height: 120px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 80px;
    line-height: 150%;
    color: #F3F3F3;
    border: none;
    border-top: 1px solid #CACACA;
}
