
.city{
    margin-left: 120px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 150%;
    color: #FFFFFF;
}
.phonenumber{
    margin-right: 115px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 150%;
    color: #FFFFFF;
}
.ul{
    background-color: #323232;
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    margin: 0px;
    padding: 0px;
}